
<style>
   .map-container {
    position: relative;
    width: 100%;
    padding-bottom: 27.13%; /* (356 / 1312) * 100 for desktop aspect ratio */
    overflow: hidden;
    }

    .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    }

    /* Adjust aspect ratio for mobile */
    @media (max-width: 768px) {
    .map-container {
        padding-bottom: 83.44%; /* (262 / 314) * 100 for mobile aspect ratio */
    }
    }

</style>

<section id="mmh--google-embed" style="background-color: {{ section.settings.background }};">
    <div class="section-wrapper relative px-[64px] py-[88px] {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <div class="map-container">
            {{ section.settings.google_embed }}
        </div>
    </div>
</section>


{% schema %}
    {
        "name": "Google Maps",
        "settings": [
            {
                "type": "color_background",
                "id": "background",
                "label": "Background Color"
            },
            {
                "type": "html",
                "id": "google_embed",
                "label": "Google Map Embed"
            }
        ],
        "presets": [
            {
                "name": "Google Maps"
            }
            
        ]
    }
{% endschema %}