<section id="mmh--age-category" style="background-color: {{ section.settings.background }};">


</section>


{% schema %}
{
    "name": "Age - Categories",
    "settings": [
        {
            "type": "color_background",
            "id": "background",
            "label": "Background Color"
        },
        {
            "type": "textarea",
            "id": "header",
            "label": "Header",
            "default": "Who are you shopping for?"
        }
    ],
    "blocks": [
        {
            "name": "category",
            "type": "category",
            "limit": 3,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Category Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Age - Categories"
        }
    ]
}
{% endschema %}