<section id="mmh--page-link" style="background-color: {{ section.settings.background }};">
    <div class="section-wrapper text-black pt-[28px] pb-[40px] md:py-[60px] px-[28px] md:px-[60px] flex flex-col items-center">
        <h2 class="text-center font-chubbo-medium text-[28px] md:text-[48px] mb-[24px] md:mb-[32px] {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {{ section.settings.header }}
        </h2>
        <a href="{{ section.settings.url }}" class="btn btn-secondary w-fit {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {{ section.settings.cta }}
        </a>
    </div>
</section>


{% schema %}
    {
        "name": "Page Link",
        "settings": [
            {
                "type": "color_background",
                "id": "background",
                "label": "Background Color"
            },
            {
                "type": "textarea",
                "id": "header",
                "label": "Header"
            },
            {
                "type": "text",
                "id": "cta",
                "label": "CTA",
                "default": "Shop Now"
            },
            {
                "type": "url",
                "id": "url",
                "label": "URL"
            }
        ],
        "presets": [
            {
                "name": "Page Link"
            }
        ]
    }
{% endschema %}