/*======= Custom Styles -- MAKE ME HERO ========*/
@font-face {
    font-family: 'Chillax-Medium';
    src: url('Chillax-Medium.woff2') format('woff2'),
         url('Chillax-Medium.woff') format('woff'),
         url('Chillax-Medium.otf') format('opentype'),
         url('Chillax-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Chubbo-Medium';
    src: url('Chubbo-Medium.woff2') format('woff2'),
         url('Chubbo-Medium.woff') format('woff'),
         url('Chubbo-Medium.otf') format('opentype'),
         url('Chubbo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'PlaywriteAUTAS-Regular';
    src: url('PlaywriteAUTAS-Regular.woff2') format('woff2'),
         url('PlaywriteAUTAS-Regular.woff') format('woff'),
         url('PlaywriteAUTAS-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

.font-chillax-medium{
    font-family: 'Chillax-Medium', sans-serif;
}

.font-chubbo-medium{
    font-family: 'Chubbo-Medium', sans-serif;
}

.font-playwrite-regular{
    font-family: 'PlaywriteAUTAS-Regular', sans-serif;
}

.btn{
    padding: 10px 20px;
    border-radius: 7px;
    display: block;
    text-transform: uppercase;
}

.btn-primary{
    background-color: #EAFF19;
    color: black;
    font-family: 'Chillax-Medium', sans-serif;
    font-size: 14px;
}

.btn-secondary{
    background-color: #1E953D;
    color: #FFFFFF;
    font-family: 'Chillax-Medium', sans-serif;
    font-size: 14px;
}

.text-white{
    color: #FFFFFF;
}

.text-green{
    color: #1E953D;
}

.custom--grid{
    display: grid !important;
}

header span, header-menu span,
header a, header-menu a{
    font-family: 'Chillax-Medium', sans-serif !important;
    font-size: 14px;
}